.modal {
    padding: 1.6rem;
    width: 420px;
    border: none;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    background-color: var(--clr-primary);
    color: var(--clr-text);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: .85em;
}

.modal::backdrop {
    background: var(--clr-secondary);
    opacity: .4;
}

.btn-cont {
    justify-content: center;
}

.modal-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .8em;
}

.modal-form {
    padding: 0 1.2rem 0 1.2rem;
}

.h-gap {
    gap: .6em;
}

.pop-up-content {
	text-align: center;
}