.modal {
    padding: 1rem;
    max-width: 60ch;
    border: none;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    background-color: var(--clr-primary);
    color: var(--clr-text);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.modal::backdrop {
    background: var(--clr-secondary);
    opacity: .4;
}

.btn-cont {
    justify-content: flex-end;
}

.modal-title {
    text-align: center;
}