<div class="v-cont f-2 container">
    <div class="clr-primary">{{ comment.publishedBy.username }}</div>
    <div class="f-1 clr-secondary">{{ comment.published | date : 'd.M.yyyy - H:mm:ss' }}</div>
    <div style="margin-top: .5rem;">
        {{ comment.content }}
    </div>
    <a *ngIf="showReplyButton()"
        style="align-self: flex-end;
            color: var(--clr-accent);
            cursor: pointer;"
            (click)="toggleReplyForm()">
        {{ showReplyForm ? '[Zatvori]' : '[Odgovori]'}}</a>

    <form 
        class="v-cont g-2 p-1"
        *ngIf="showReplyForm"
        #replyForm="ngForm"
        id="replyForm"
        (ngSubmit)="reply(replyForm)">
        <textarea name="text" id="text" placeholder="Odgovor..." 
            style="resize: none; height: 90px;"
            required
            [(ngModel)]="replyContent"></textarea>

        <button class="btn-style btn-small bg-accent" 
            style="align-self: flex-end;"
            [disabled]="replyForm.invalid">
            Postavi
        </button>
    </form>
</div>