.bg-img {
    background-color: var(--clr-secondary);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
}

.bg-1 {
    background-image: url(img/5.jpg);
}

.bg-2 {
    background-image: url(img/4.jpg);
}

.bg-3 {
    background-image: url(img/2.jpg);
}

.form-cont {
    width: 460px;
    height: 700px;
    padding: 2.8rem;
    background-color: var(--clr-primary);
    background-image: 
        linear-gradient(rgba(0,0,0,0), var(--clr-primary-dark));
}

.form-title {
    font-size: 2em;
    font-weight: bold;
    color: var(--clr-text);
    text-align: center;
    width: 100%;
}

.full-width {
    width: 100%;
}

.form {
    flex-grow: 1;
    gap: 1rem;
    padding-bottom: 3.2rem;
}

.form-group {
    gap: 0.2rem;
}

.form-label {
    color: var(--clr-secondary);
    font-size: 1.2em;
}

.msg-span {
    font-size: 0.7em;
}

.msg-span::before {
    font-size: 0.8em;
    margin: 2px;
}

.form-input {
    padding: 0.6em;
    background: var(--clr-primary-dark);
    color: var(--clr-text);
    border: none;
    outline: 1px solid var(--clr-secondary);
    width: 100%;
}

.form-input:focus {
    outline: 2px solid var(--clr-accent);
}