<!-- title -->
<h1 class="clr-primary">{{ fitnessProgram.name }}</h1>

<!-- short info -->
<div class="h-cont short-info clr-secondary">
    <div class="h-cont">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" class="user-image">
        <div class="v-cont m-1">
            <div>
                <span class="item-name">Kreirao: </span>
                {{ fitnessProgram.createdBy?.name }} {{ fitnessProgram.createdBy?.surname }}
            </div>
            <div>
                <span class="item-name">E-mail: </span>
                {{ fitnessProgram.createdBy?.mail }}
            </div>
        </div>
    </div>
    <div><span class="item-name">Cijena: </span> {{ fitnessProgram.price }}KM</div>
</div>

<!-- images -->
<div class="image">
    <img [src]="fitnessProgram.images?.[0]?.path">
</div>

<!-- info -->
<div class="v-cont info">
    <h2 class="m-3">Informacije o programu</h2>
    <div class="h-cont separator">
        <span class="item-name clr-primary">Težina</span>
        <span>{{ fitnessProgram.difficultyLevel }}</span>
    </div>
    <div class="h-cont separator">
        <span class="item-name clr-primary">Trajanje</span>
        <span>{{ fitnessProgram.duration }} sedmica</span>
    </div>
    <div class="h-cont separator">
        <span class="item-name clr-primary">Lokacija izvođenja</span>
        <span>{{ fitnessProgram.location }}</span>
    </div>
    <div class="h-cont separator">
        <span class="item-name clr-primary">Kategorija</span>
        <span>{{ fitnessProgram.category?.name }}</span>
    </div>
    <div class="h-cont separator">
        <span class="item-name clr-primary">Atributi</span>
        <span *ngIf="fitnessProgram.category?.attributes">
            {{ concatAttributes() }}
        </span>
    </div>
</div>

<!-- instructor info -->

<!-- comments -->