<div class="header">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-lbl icon"></label>

    <ul class="header-menu">
        <li><a 
            routerLink="/home" 
            routerLinkActive="activated">
                Početna</a></li>
        <li><a 
            routerLink="/daily-exercises" 
            routerLinkActive="activated">
                Dnevni prijedlozi</a></li>
    </ul>

    <!-- spacing -->
    <div style="flex-grow: 1;"></div>

    <div *ngIf="showSearchBar" class="search-cont">
        <div class="search-bar icon">
            <input type="search" placeholder="Pretraga..." (input)="getInput($event)">
        </div>
    </div>

    <dropdown-menu>
        <a dd-header
            routerLink="/user-form" 
            class="icon btn-link btn-user f-3 clr-text">
        </a>
        <ul class="dropdown-options">
            <ng-container 
                *ngIf="userLoggedIn(); then loggedIn else loggedOut">
            </ng-container>
            <ng-template #loggedIn>
                <li><a (click)="logout()">Odjavi se</a></li>
            </ng-template>
            <ng-template #loggedOut>
                <li><a routerLink="/login">Prijavi se</a></li>
                <li><a routerLink="/user-form">Napravi profil</a></li>
            </ng-template>
        </ul>
        <span userName class="m-1">{{ getUsername() }}</span>
    </dropdown-menu>
</div>