<div class="header">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-lbl icon"></label>

    <ul class="header-menu">
        <li><a routerLink="/home">Početna</a></li>
        <li><a href="#">Moji programi</a></li>
    </ul>

    <!-- spacing -->
    <div style="flex-grow: 1;"></div>

    <dropdown-menu>
        <a dd-header href="#" 
            class="icon btn-link btn-user f-3 clr-text"></a>
        <ul class="dropdown-options">
            <li><a href="#">Prijavi se</a></li>
            <li><a href="#">Odjavi se</a></li>
        </ul>
    </dropdown-menu>
</div>