.title {
    font-weight: bold;
    align-self: center;
}

.content {
    text-align: center;
    margin-top: .7rem;
}

.link:link {
    color: var(--clr-accent-hover);
}

.link:visited {
    color: var(--clr-accent);
}