.news-container {
    flex-basis: 110px;
    background-color: var(--clr-primary-dark);
    padding: .9rem;
    border-top: 1px solid var(--clr-primary);
}

.home {
    height: calc(100vh - var(--hdr-height));
}
