<div class="content v-cont g-3 crossa-center p-2"
    style="overflow-y: scroll;">

    <div class="v-cont table-cont fg-1">
        <div class="table-wrapper">
            <table>
                <tr>
                    <th>Od</th>
                    <th>Dana</th>
                </tr>

                <tr *ngFor="let msg of inbox"
                    #msgRow
                    [ngClass]="{'msg-opened': msg.opened}"
                    (click)="openMessage(msg, msgRow)">
                    <td>{{ msg.sender.username }}</td>
                    <td>{{ msg.timeSent | date : 'd.M.yyyy - H:mm:ss' }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="msg-form crossa-center p-2"
        style="border-radius: 10px;">
        <form class="form v-cont full-width fg-1"
            style="padding-bottom: 0px; height: 100%;"
            #msgForm="ngForm"
            (ngSubmit)="sendMessage(msgForm)">

            <div class="v-cont form-group">
                <label class="form-label" for="username">Kome</label>
                <input 
                    class="form-input"
                    style="width: 30%;" 
                    type="text" 
                    id="username" 
                    name="username" 
                    required
                    [(ngModel)]="messageToSend.receiver.username">
            </div>

            <div class="v-cont form-group f-width fg-1">
                <label class="form-label" for="content">Poruka</label>
                <textarea 
                    id="content" 
                    class="form-input fg-1"
                    style="resize: none;"
                    required
                    name="content"
                    [(ngModel)]="messageToSend.content"></textarea>
            </div>

            <button 
                class="btn-style btn-medium m-2 bg-accent"
                style="width: 110px; align-self: center;"
                [disabled]="msgForm.invalid">
                Pošalji
            </button>

        </form>
    </div>
</div>

<dialog 
    class="modal"
    id="msgModal"
    #msgModal>
    <div class="v-cont p-2 g-1">
        <div class="f-2 clr-accent">
            {{openedMessage.sender.username}}</div>
        <div class="f-1 clr-secondary">
            {{openedMessage.timeSent | date : 'd.M.yyyy - H:mm:ss'}}
        </div>
        <div class="f-2 m-2">
            {{openedMessage.content}}
        </div>
        <button class="btn-style btn-small bg-accent"
            style="margin-top: 2rem;width: 100px;align-self: center;"
            (click)="closeModal(msgModal)">
            OK</button>
    </div>

</dialog>
